<form class="card mt-3" [formGroup]="signupForm">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-12">
        <label for="signupEmail">Correo electronico</label>
        <input type="email" class="form-control" id="signupEmail" placeholder="Escribe tu correo" formControlName="email">
        <div class="alert alert-warning" role="alert" *ngIf="signupForm.get('email').hasError('pattern')">
          Por favor introduce un correo electronico valido
        </div>
      </div>
      <div class="form-group col-12">
        <label for="signupName">
          Nombre
          <span class="text-danger ml-2" *ngIf="signupForm.get('firstName').hasError('required') && submittedForm">Este
            campo es requerido</span>
        </label>
        <input type="text" class="form-control" id="signupName" placeholder="Escribe tu nombre" formControlName="firstName">
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="signupLastName">
          Apellido Paterno
          <span class="text-danger ml-2" *ngIf="signupForm.get('lastName').hasError('required') && submittedForm">Este
            campo es requerido</span>
        </label>
        <input type="text" class="form-control" id="signupLastname" placeholder="Escribe tu Apellido Paterno"
          formControlName="lastName">
      </div>
      <div class="form-group col-12 col-md-6">
        <label for="signupSecondLastName">
          Apellido Materno
          <span class="text-danger ml-2" *ngIf="signupForm.get('secondLastName').hasError('required') && submittedForm">Este
            campo es requerido</span>
        </label>
        <input type="text" class="form-control" id="signupSecondLastName" placeholder="EscribeApellido Materno"
          formControlName="secondLastName">
      </div>


      <div class="form-group custom-icon col-12">
        
          <label for="sigupUsername">
            Nombre de usuario
            <span class="text-danger ml-2" *ngIf="signupForm.get('username').hasError('required') && submittedForm">Este
              campo es requerido</span>
          </label>
          <input type="text" class="form-control" id="sigupUsername" placeholder="Escribe tu nombre de usurario"
            formControlName="username">
          <span class="previe-icon"*ngIf="signupForm.get('username').value" > 
            <fa-icon icon="check" class="text-success" *ngIf="signupForm.get('username').status === 'VALID'"></fa-icon>
            <fa-icon icon="times" class="text-danger" *ngIf="signupForm.get('username').status === 'INVALID'"></fa-icon>
            <fa-icon icon="spinner" class="text-info"[spin]="true" *ngIf="signupForm.get('username').status === 'PENDING'"></fa-icon>
          </span>
        
      </div>

        <ng-container formGroupName="passwords">
          <div class="form-group custom-icon col-12 col-md-6">
            <label for="singupPassword">
              {{ passText }}
              <span class="text-danger ml-2" *ngIf="signupForm.get('passwords.psw').hasError('required') && submittedForm">Este
                campo es requerido</span>
            </label>
            <input [type]="passwordPreviews.first ? 'password':'text'" class="form-control" id="singupPassword"
              placeholder="Ingresa Contraseña" formControlName="psw">
            <span class="preview-icon" (click)="passwordPreviews.first = !passwordPreviews.first">
              <fa-icon [icon]="passwordPreviews.first ?'eye' : 'eye-slash'"></fa-icon>
            </span>
          </div>
          <div class="form-group custom-icon col-12 col-md-6">
            <label for="singupPasswordConfirm">
              Confirmacion Contraseña
              <span class="text-danger ml-2" *ngIf="signupForm.get('passwords.confirm').hasError('required') && submittedForm">Este
                campo es requerido</span>
            </label>
            <input [type]="passwordPreviews.confirm ? 'password':'text'" class="form-control" id="singupPasswordConfirm"
              placeholder="contraseña" formControlName="confirm">
            <span class="preview-icon" (click)="passwordPreviews.confirm = !passwordPreviews.confirm">
              <fa-icon [icon]="getIcon(passwordPreviews.confirm)"></fa-icon>
            </span>
          </div>
          <div class="col-12">
            <div class="alert alert-warning" role="alert" *ngIf="signupForm.get('passwords').hasError('notSame')">
              Las contraseñas no coinciden
            </div>
          </div>
        </ng-container>
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-block" (click)="signup($event)">Registrarse</button>
        </div>
      </div>
    </div>
</form>